.container {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  align-items: stretch; /* Ensures both columns stay equal */
  flex-wrap: wrap;
  z-index: 0;
}

.frameBackground {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  z-index: -1;
}

.svgPattern {
  position: absolute; /* Positions it relative to the parent */
  max-width: 550px;
  bottom: 0;
  right: 0;
  z-index: -2; /* Keeps it behind all content */
  pointer-events: none; /* Avoids interference with clicks */
  opacity: 0.6;
}

.formFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 720px; /* Adjust based on your design */
  min-width: 380px; /* Ensures it doesn't shrink too much */
  margin: 0 auto; /* Centers content horizontally */
  padding: 48px 82px;
  border-radius: 24px;
  border: 1.5px solid var(--Neutrals-Light-Outline, #d5c3b5);
  background: var(--Neutrals-Background);
  box-shadow: 0px 4px 10px 0px rgba(34, 26, 20, 0.15);
  z-index: 2;
  margin-top: 120px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 28px;
  align-self: stretch;
  padding-bottom: 16px;
  width: 100%;
}

.formWidth {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  align-self: stretch;
}

.title {
  color: var(--Neutrals-Black-Text, #221a14);
  font-family: Merriweather;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 45px */
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  margin-bottom: 28px;
}

.subtitle {
  text-align: left;
  color: var(--Neutrals-Dark-Outline, #2d2d2d);
  font-family: Merriweather;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 17.5px */
  text-transform: capitalize;
  color: var(--Neutrals-Black-Text, #221a14);
}

.formRow {
  display: flex;
  gap: 12px;
  width: 100%;
  flex-direction: row;
}

.submitButton {
  display: flex;
  height: 46px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background: linear-gradient(268deg, #253f3b 23.52%, #5c9c92 136.03%);
  color: var(--Neutrals-Background, #fffbf4);
  font-family: Merriweather;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.32px;
  width: 100%;
  border: none;
  margin-top: 12px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.submitButton::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(270deg, #253f3b -25.25%, #5c9c92 99.99%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: -1;
}

.submitButton:hover::before {
  opacity: 1;
}
