.exploreContainer {
  width: 100vw;
  margin-top: 60px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchSection {
  display: flex;
  width: 100%;
  text-align: left;
  padding: 0 5%;
  height: 120px;
  align-items: center;
}

.searchSection h1 {
  font-size: 48px;
}

.filterSection {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  background-color: var(--Neutrals-Light-Outline);
  margin-bottom: 18px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5%;
  gap: 18px;
}

.typesSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aqua;
  width: 100%;
}

.destinationContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 3%;
  gap: 18px;
}
