.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}
/* Two equal-sized columns */
.left,
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for the left column */
.left {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}

.leftContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns everything to the left */
  justify-content: center; /* Ensures content starts at the top */
  padding: 0 16%;
  gap: 4%; /* Adjust spacing for better layout */
  width: 100%; /* Ensures it takes full width */
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
  align-self: stretch;
  padding-bottom: 16px;
}

.formWidth {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  align-self: stretch;
}

.title {
  color: var(--Neutrals-Black-Text, #221a14);
  font-family: Merriweather;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 45px */
  text-transform: capitalize;
  text-align: left;
}

.subtitle {
  text-align: left;
  color: var(--Neutrals-Dark-Outline, #2d2d2d);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
  text-transform: capitalize;
}

.nameContainer {
  display: flex;
  gap: 8px;
  width: 100%;
}

.googleButton {
  display: flex;
  width: 100%;
  height: 46px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--Beige-Perfect, #f3ddbb);
  color: var(--Neutrals-Black-Text, #221a14);
  font-family: Merriweather;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 16.8px */
  border: none;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  color: var(--Neutrals-Black-Text, #221a14); /* Text color */
  font-size: 14px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--Neutrals-Medium-Outline, #837468); /* Line color */
  margin: 0 10px;
}

.formContainer label {
  color: var(--Neutrals-Black-Text, #221a14);
  font-family: Merriweather;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  width: 100%;
  text-align: left;
}

.formContainer input {
  width: 100%;
  display: flex;
  height: 46px;
  padding: 16px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--Neutrals-Light-Outline, #d5c3b5);
  margin: 4px 0;
}

.formContainer input::placeholder {
  color: var(--Neutrals-Dark-Outline, #2d2d2d);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 16.8px */
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordContainer input {
  flex: 1;
}

.togglePassword {
  position: absolute;
  right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--Green-Perfect);
  font-size: 18px;
  display: flex;
  align-items: center;
}

.Link {
  color: var(--Green-Perfect, #3b655f);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 16.8px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: capitalize;
  width: 100%;
  text-align: left;
}

.submitButton {
  display: flex;
  height: 46px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background: var(
    --Gradient-Default,
    linear-gradient(268deg, #253f3b 23.52%, #5c9c92 136.03%)
  );
  color: var(--Neutrals-Background, #fffbf4);
  font-family: Merriweather;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.32px;
  width: 100%;
  border: none;
}

.registerText {
  width: 100%;
}

/* Styling for the right column */
.right {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4672c4; /* Placeholder background */
}

.errorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38px;
  color: #a6001e;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #ffb5c3;
  border-radius: 12px;
  font-size: 14px;
}
