.timeContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  font-family: var(--font-body), system-ui, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.open {
  color: #10a833;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-body), system-ui, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
}

.closed {
  color: #d70000;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-body), system-ui, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
}
