.container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  font-family: var(--font-body), system-ui, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.same {
  color: var(--Green-Perfect);
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-body), system-ui, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}

.different {
  color: var(--Sienna-Dark);
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-body), system-ui, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}
