.priceRangeContainer {
  display: flex;
  gap: 8px;
}

.priceRange {
  display: flex;
  height: 30px;
  padding: 6px 14px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 38px;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

/* Low */
.low {
  color: var(--Low-Text);
  border: 1px solid var(--Low-Stroke);
  background: var(--Low-Background);
}

/* Mid-Range */
.mid {
  color: var(--Mid-Text);
  border: 1px solid var(--Mid-Stroke);
  background: var(--Mid-Background);
}

/* Luxury */
.luxury {
  color: var(--Luxury-Text, #ffe597);
  border: 1px solid var(--Luxury-Stroke);
  background: var(--Luxury-Background);
}

/* Fallback for gradient text (if needed) */
.luxury span {
  background: var(--Luxury-Text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
